{
{%- if document_description %}
  description = {{ document_description | to_json(ensure_ascii=False) }};
{% endif %}
  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    flake-utils.url = "github:numtide/flake-utils";
    pre-commit-hooks = {
      url = "github:cachix/pre-commit-hooks.nix";
      inputs = {
        nixpkgs.follows = "nixpkgs";
        flake-utils.follows = "flake-utils";
      };
    };
  };

  outputs =
    inputs@{ self, ... }:
    with inputs;
    flake-utils.lib.eachDefaultSystem (
      system:
      let
        pkgs = import nixpkgs { inherit system; };

        systemFonts = with pkgs; [ libertinus ];
        texFonts = [ "xits" ];

        tex = pkgs.texlive.combine (
          builtins.foldl' (x: y: x // y) {
            inherit (pkgs.texlive)
              scheme-basic
              booktabs
              fontspec
              hologo
              hyperref
              impnattypo
              latexindent
              latexmk
              luacode
              lualatex-math
              luatexbase
              mathtools
              microtype
              nag
              newunicodechar
              onlyamsmath
              realscripts
              unicode-math
              xcolor
              ;
          } (map (font: { ${font} = pkgs.texlive.${font}; }) texFonts)
        );

        OSFONTDIR =
          builtins.concatStringsSep "/;" (
            map (font: "${tex}/share/texmf/fonts/{opentype,truetype}/public/${font}") texFonts
          )
          + "/;"
          + (builtins.concatStringsSep "//;" (map (font: "${font}/share/fonts") systemFonts));
        SOURCE_DATE_EPOCH = toString self.lastModified;
      in
      {
        packages.default = pkgs.stdenvNoCC.mkDerivation rec {
          name = "{{ document_filename }}";
          src = self;
          buildInputs = [
            pkgs.coreutils
            tex
          ] ++ systemFonts;
          inherit OSFONTDIR SOURCE_DATE_EPOCH;
          buildPhase = ''
            HOME=$(mktemp -d)
            latexmk -interaction=nonstopmode "{{ document_filename }}.tex"
          '';
          installPhase = ''
            mkdir -p $out
            cp "build/{{ document_filename }}.pdf" $out/
          '';
        };

        devShells.default =
          with pkgs;
          mkShell {
            inherit (self.checks.${system}.pre-commit-check) shellHook;
            packages = [
              # Nix
              nixfmt-rfc-style
              nil
              statix

              # LaTeX
              tex
              lua53Packages.digestif
            ];
            inherit OSFONTDIR SOURCE_DATE_EPOCH;
          };

        formatter = pkgs.nixfmt-rfc-style;

        checks = {
          pre-commit-check = pre-commit-hooks.lib.${system}.run {
            src = ./.;
            hooks = {
              nixfmt-rfc-style.enable = true;
              latexindent.enable = true;
              copier-rejects = {
                enable = true;
                entry = "found Copier update rejection files; review them and remove them";
                files = "\\.rej$";
                language = "fail";
              };
            };
          };
        };
      }
    );
}
