\RequirePackage[l2tabu,orthodox]{nag}

\documentclass[a4paper]{article}

\setlength{\emergencystretch}{1em}
\clubpenalty=9996
\widowpenalty=9999
\brokenpenalty=4991
\predisplaypenalty=10000
\postdisplaypenalty=1549
\displaywidowpenalty=1602
\interfootnotelinepenalty=10000

\usepackage[main=british]{babel}
\usepackage{hologo}
\usepackage{realscripts}
\usepackage{mathtools}
\usepackage[all,nodollardollar]{onlyamsmath}
\usepackage[
  math-style=ISO,
  bold-style=ISO,
  sans-style=italic,
  nabla=upright,
  partial=upright
]{unicode-math}

\usepackage[
  activate={true,nocompatibility},
  final,
  factor=1100,
  stretch=15,
  shrink=15,
  tracking=true,
  letterspace=40,
  babel=true]{microtype}

\usepackage{booktabs}
\usepackage[
  nosingleletter,
  hyphenation,
  lastparline,
  homeoarchy,
  parindent]{impnattypo}
\usepackage[
  british,
  pdfprintscaling=None,
  pdfa,
  pdfencoding=unicode,
  psdextra]{hyperref}
\hypersetup{
{%- if document_author %}
  pdfauthor={% raw %}{{% endraw %}{{ document_author }}},
{%- endif %}
{%- if document_title %}
  pdftitle={% raw %}{{% endraw %}{{ document_title }}},
{%- endif %}
{%- if document_description %}
  pdfsubject={% raw %}{{% endraw %}{{ document_description }}},
{%- endif %}
  pdflang={English},
  hidelinks,
  bookmarksnumbered,
  linkcolor={red!50!black},
  citecolor={blue!50!black},
  urlcolor={blue!80!black}
}
\usepackage{graphicx}

\usepackage{newunicodechar}
\newunicodechar{√}{\sqrt}
\newunicodechar{–}{\mbox{–}\allowbreak{}\hspace{0pt}}

\setmainfont{Libertinus Serif}[
  Contextuals=Alternate,
]
\setsansfont{LibertinusSans}
\setmathfont{LibertinusMath}
\setmathfont{XITSMath}[range={frak,"1D504-"1D537,bffrak,"1D56C-"1D59F}]
\setmathfont{XITSMath}[range={cal,bfcal},StylisticSet=1]

\pdfvariable suppressoptionalinfo 512\relax

{%- if document_title %}
\title{% raw %}{{% endraw %}{{ document_title }}}
{%- endif %}
{%- if document_author %}
\author{% raw %}{{% endraw %}{{ document_author }}}
{%- endif %}
{%- if document_date %}
\date{% raw %}{{% endraw %}{{ document_date }}}
{%- endif %}

\begin{document}
{% if document_title %}
\maketitle
{% endif %}
\section{Pangrams}

A pangram is a phrase containing every letter of a given alphabet at least once.
Here are some examples:

\begin{description}
  \item[English] Pack my box with five dozen liqour jugs.
  \item[French] Portez ce vieux whisky au juge blond qui a fumé.
  \item[German] Falsches Üben von Xylophonmusik quält jeden größeren Zwerg.
  \item[Greek] Ζαφείρι δέξου πάγκαλο, βαθῶν ψυχῆς τὸ σῆμα.
  \item[Irish] Ċuaiġ bé ṁórṡáċ le dlúṫspád fíorḟinn trí hata mo ḋea-ṗorcáin ḃig.
  \item[Icelandic] Kæmi ný öxi hér ykist þjófum nú bæði víl og ádrepa.
  \item[Vietnamese] Ắt chị đến xa vẻ vã giản dị nắng lùng lại, quả áo dài mưa rực rỡ trên sân vườn.
  \item[Macedonian] Долг Џош, сторив женење, црн ѕид! Фрчат хмељ, ќумбе, ѓупки, зајак.
  \item[Polish] Dość gróźb fuzją, klnę, pych i małżeństw!
  \item[Hebrew] .כך התרסק נפץ על גוזל קטן, שדחף את צבי למים
\end{description}

\section{Equations}

\begin{equation}
  f(x) = \frac{1}{σ√{2π}}\exp\left(-\frac{1}{2}\frac{(x-μ)²}{σ²}\right)
\end{equation}

\begin{equation}
  Z^{Γ}_{\symcal{F}}(γ)=∑_{\substack{n≥0 \\ λ⊢n}}\frac{\left|\operatorname{fix}\symcal{F}\,\left[σ(λ)⋅γ\right]\right|}{z_λ}p₁^{λ₁}p₂^{λ₂}…pₙ^{λₙ}
\end{equation}

\begin{align}
  ∮_C \frac{1}{z}\,\symup{d}z & = ∫_0^{2\symup{π}} \frac{1}{\symup{e}^{\symup{i}t}}\symup{i}\symup{e}^{\symup{i}t}\,\symup{d}t \\
                              & = \symup{i}∫_0^{2\symup{π}} 1\,\symup{d}t                                                      \\
                              & = \symup{i}t\,\Big|_0^{2\symup{π}}                                                             \\
                              & = (2\symup{π} - 0)\symup{i}                                                                    \\
                              & = 2\symup{π}\symup{i}
\end{align}

\section{A table}

\begin{tabular}{lcclc}
  \hline
  Name          & Age & Height (cm) & Superpower  & Favorite Number \\
  \hline
  Captain Fuzzy & 32  & 165         & Fuzziness   & \(\symup{π}\)   \\
  Rainbow Dash  & 27  & 170         & Super Speed & \(√{2}\)        \\
  The Pie Man   & 35  & 160         & Pie-Making  & \(\symup{φ}\)   \\
  Ice Queen     & 29  & 175         & Ice Powers  & \(\symup{e}\)   \\
  Fireball      & 31  & 170         & Fire Powers & \(0.5\)         \\
  \hline
\end{tabular}

\end{document}
